/* Mobile responsive */
@media screen and (max-width:500px) {
    nav {
        flex-direction: column;
        margin-top: 120px;
    }

    #info {
        margin-top: 62px;
        flex-direction: column;
        gap: 36px;
        margin-bottom: 20px;
    }

    .image-container {
        flex-direction: column-reverse;
    }

    .image-container .goat{
        width: 100%;
    }

    .games img{
        width: 100%;
    }

    .image-container .games{
        width: 100%;
    }

    .play p {
        font-size: 28px;
    }

    .play h1{
        font-size: 58px;
    }

    .icons{
        margin-left: 100px;
        font-size: 10px;
    }

    .i-texts{
        font-size: 10px;
    }

    .button{
        gap: 10px;
    }

    .button button{
        padding: 11px 10px;
        font-size: 10px;
    }

    .gamer{
        flex-direction: column;
    }

    .gamer-img,.gamer-text{
        width: 100%;
    }

    .gamer-text p{
        text-align: center;
    }

    .gamer-text h1{
        text-align: center;
    }

    .gamer-text button{
        margin-left: 130px;
    }

    .cards img{
        height: auto;
    }
    
    .cards{
        flex-direction: column;
    }

    .no-downloads{
        flex-direction: column;
    }

    .no-downloads-texts{
        width: 100%;
        padding-top: 50px;
    }

    .cowboy{
        height: 300px;
    }

    .no-downloads-image .catgirl{
        left: 50px;
        height: 200px;
        top: 200px;
    }

    .play-online{
        flex-direction: column-reverse;
    }

    .play-online-image .dracula{
        width: auto;
        height: 300px;
        margin-left: 65px;
    }

    .play-online-image .little-girl{
        width: auto;
        height: 200px;
        right: 11px;
        top: 200px;
    }

    .play-online-text{
        width: 100%;
    }

    .play-online{
        margin-top: 10px;
    }

    .career-container{
        min-height: 1200px;
    }

    .career-sub-container{
        gap: 50px;
    }

    .career-sub-container{
        flex-direction: column;
    }

    .career-texts{
        width: 100%;
    }

    #cp{
        font-size: 13px;
    }

    .career-rolls, .career-location{
        font-size: 12px;
    }

    .career-image img{
        width: auto;
        height: 300px;
    }
}
/* Tablet responsive */
@media screen and (min-width:501px) and (max-width:768px) {
    nav{
        flex-direction: column;
    }
    #logo{
        justify-content: center;
    }
    #info{
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
    }
    #follow{
        margin-bottom: 20px;
    }
    .image-container{
        flex-direction: column;
    }
    .goat{
        width: 100%;
    }
    .cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .gamer{
        flex-direction: column;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-text{
        width: 100%;
    }
    .gamer-text h1{
        text-align: center;
    }
    .gamer-text p{
        text-align: center;
    }
    .gamer-text button{
        margin-left: 300px;
    }
    .no-downloads{
        flex-direction: column;
    }
    .no-downloads-texts{
        width: 100%;
    }
    .cowboy{
        margin-left: 250px;
    }
    .no-downloads-image .catgirl{
        right: 20px;
        top: 300px;
    }
    .play-online{
        flex-direction: column-reverse;
    }
    .play-online-text{
        width: 100%;
    }
    .dracula{
        margin-left: 100px;
    }
    .little-girl{
        left: 450px;
    }
    .online-games-container{
        margin-top: -200px;
    }
    .play-online{
        margin-top: 10px;
    }
    .career-sub-container{
        flex-direction: column;
    }
    .career-texts{
        width: 100%;
        text-align: center;
    }
    .career-image{
        width: 100%;
        margin-top: 50px;
    }
    .career-sublines{
        justify-content: center;
    }
}